html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1;
  box-sizing: border-box;
}

.container, .wrapper {
  height: 100%;
}

.wrapper {
  position: relative;
}

.container {
  padding-top: 60px;
}

.menu {
  height: 100%;
}

.content {
  padding: 25px;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
}

.header-operations {
  display: inline-block;
  float: right;
  padding-right: 30px;
  height: 100%;

}
.header-operations li{
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  margin: 0 10px;
  line-height: 25px;
  cursor: pointer;
  list-style:none; 
}
.header-operations  .header-lang {
  cursor: pointer;
  opacity: 1;
}
.header-operations span{
  opacity: 0.7;
}
.color-buttons {
  float: right;
}

.query-form {
  margin-top: 20px;
  padding-top: 25px;
  background-color: #f2f2f2;
}

.table {
  margin-top: 30px;
}

.pagination {
  margin-top: 10px;
  float: right;
}

.help p {
  margin-bottom: 10px;
}

.help p a {
  color: #20a0ff;
}
